/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body{
  background: linear-gradient(to right bottom, #e1b382 , #c89666);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.boxWrapper{
 
    background-color: #12343b;
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 30px 6px 40px #000;
    margin-bottom: 10px;
}

.header{
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.inputTask{
  width: 260px !important;
  padding: 15px;
  margin-right: 25px;
  color: #ccc !important;
  background-color: #000000 !important;
  border: 1px solid #c89666;
  border-radius: 10px !important;
  font-size: 20px;
  outline: none !important;
}


.inputTask::placeholder {
  color: #837d7d;
}

.table-heading{
  background-color: lightgray !important
}

#button-addon2{
  background-color: #f1af71;
  width: 155px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: #000;
}

.list{
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
  text-align: justify;
}

.list-item{
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  height: auto;
}

.completeBtn{
  color: #ff6c6c;
  margin-right: 10px;
}

p.list.done {
  text-decoration: line-through;
  opacity: 0.4;
}

.editBtn{
  color: #e2d029;
  margin-right: 10px;
}

.deleteBtn{
  color: lightseagreen;
  margin-right: 10px;
}


.completeBtn,
.editBtn,
.deleteBtn{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.icons{
  padding-left: 43px;
}